## Binning Numerical Features

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('employee.csv')

data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [8]:
data['Age'].value_counts()

35    78
34    77
31    69
36    69
29    68
32    61
30    60
33    58
38    58
40    57
37    50
27    48
28    48
42    46
39    42
45    41
41    40
26    39
46    33
44    33
43    32
50    30
24    26
25    26
47    24
49    24
55    22
48    19
51    19
53    19
52    18
54    18
22    16
56    14
58    14
23    14
21    13
20    11
59    10
19     9
18     8
60     5
57     4
Name: Age, dtype: int64

In [9]:
# Defining the function for binning the age variable.

def age_cat(x):
    if x>20 and x<30:
        return '20-30'
    elif x>30 and x<40:
        return '30-40'
    elif x>40 and x<50:
        return '40-50'
    else:
        return '50-60'

data['Age'] = data['Age'].apply(age_cat)
data['Age'].value_counts()

30-40    562
50-60    318
20-30    298
40-50    292
Name: Age, dtype: int64

In [10]:
# checking frequency of different values for the variable

data['DistanceFromHome'].value_counts()

2     211
1     208
10     86
9      85
3      84
7      84
8      80
5      65
4      64
6      59
16     32
11     29
24     28
29     27
23     27
18     26
15     26
20     25
25     25
26     25
28     23
19     22
14     21
12     20
17     20
13     19
22     19
21     18
27     12
Name: DistanceFromHome, dtype: int64

In [11]:
def distance_from_home(x):
    if x<=2:
        return 'Near'
    elif x>2 and x>5 :
        return 'Far'
    elif x>=5:
        return 'Extremely Far'
    
data['DistanceFromHome'] = data['DistanceFromHome'].apply(distance_from_home)
data['DistanceFromHome'].value_counts()

Far              838
Near             419
Extremely Far     65
Name: DistanceFromHome, dtype: int64

In [12]:
data['TotalWorkingYears'].value_counts()

10    202
6     125
8     103
9      96
5      88
1      81
7      81
4      63
12     48
3      42
15     40
16     37
13     36
11     36
21     34
17     33
14     31
2      31
20     30
18     27
19     22
23     22
22     21
24     18
25     14
28     14
26     14
0      11
29     10
31      9
32      9
27      7
30      7
33      7
36      6
34      5
37      4
35      3
40      2
38      1
Name: TotalWorkingYears, dtype: int64

In [13]:
def experience_categorization(x):
    if x<=2:
        return 'novice'
    elif x>2 and x<=5:
        return 'intermediate'
    elif x>5:
        return 'experienced'
    
data['TotalWorkingYears'] = data['TotalWorkingYears'].apply(experience_categorization)
data['TotalWorkingYears'].value_counts()

experienced     1154
intermediate     193
novice           123
Name: TotalWorkingYears, dtype: int64