## Introduction to at_time and between_time Functions

In [1]:
import pandas as pd

## at_time

In [4]:
# lets create a time series
i = pd.date_range('2018-04-09' , periods = 7, freq='12H')
ts = pd.DataFrame({'A':[91,2,13,4,45,8,0]}, index=i)
ts

                      A
2018-04-09 00:00:00  91
2018-04-09 12:00:00   2
2018-04-10 00:00:00  13
2018-04-10 12:00:00   4
2018-04-11 00:00:00  45
2018-04-11 12:00:00   8
2018-04-12 00:00:00   0

In [5]:
ts.at_time('12:00')

                     A
2018-04-09 12:00:00  2
2018-04-10 12:00:00  4
2018-04-11 12:00:00  8

## between_time

#### has 5 parameters:
- **start_time** : initial time as a time filter limit.
- **end_time** : end time as a time filter limit.
- **include_startbool** : whether the start time needs to be included in the result.
- **include_endbool**:whether the end time needs to be included in the result. 
- **axis** : determine range time on index or columns value.

-- **Returns:** Series or DataFrame

In [6]:
i = pd.date_range('2018-04-09', periods=7,freq='1D20min')
ts = pd.DataFrame({'A':[15,42,73,44,56,2,7]}, index = i)

In [8]:
ts.between_time('0:00', '0:50')

                      A
2018-04-09 00:00:00  15
2018-04-10 00:20:00  42
2018-04-11 00:40:00  73